:root{
    --primary-color: #00b4d8;
    --secondary-color: #13e7e4;
    --accent1-color: #e9eeef;
    --accent2-color: #0077b6;
    --heading-font: 'Metal Mania', sans-serif;
    --body-font: 'Winky Rough', sans-serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;  
}
header img{
    justify-self: center;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navigation a{
    text-decoration: none;
    display: block;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--accent2-color);
    font-family: var(--body-font);
    

}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section{
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia a img{
    justify-content: space-evenly;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    
}
h1{
    top: 20px;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: black;

}
.hero article img{
    float: right;
    width: 150px;
    border: 2px solid var(--secondary-color);
}
.mission{
    bottom: 20px;
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: white;
}
footer img{
    width: 20px;
    float: right;
}
.text-centered{
    text-align: center;
}
#adventure-gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;   
}
#adventure-gallery img{
    width: 120px;
    border: 1px solid black;
}
#history{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}
#history img{
    width: 150px;    
}
figure{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}