:root{
    --primary-color: #00b4d8;
    --secondary-color: darkslategrey;
    --accent1-color: #e9eeef;
    --accent2-color: #f7fb09;
    --heading-font: 'Metal Mania', sans-serif;
    --body-font: 'Winky Rough', sans-serif;
}
header{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;  
}
header img{
    justify-self: center;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navigation a{
    text-decoration: none;
    display: block;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--accent2-color);
    font-family: var(--body-font);
    

}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}
nav, p, section{
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia a img{
    justify-content: space-evenly;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    
}
.hero h1{
    top: 20px;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);

}
.hero article img{
    float: right;
    width: 150px;
    border: 2px solid var(--secondary-color);
}
.welcome{
    position: absolute;
    text-align: left;
    top: 20px;
    background-color: var(--secondary-color);
    padding: 5px;
    font-family: var(--body-font);
}
#button-container{
    position: absolute;
    text-align: center;
    top: 120px;
    left: 50%;
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    border: 1px solid var(--secondary-color);    
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#button-container:hover, 
.description button:hover{
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}
.mission{
    bottom: 20px;
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: left;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
footer img{
    width: 20px;
    float: right;
}
.text-centered{
    text-align: center;
    color: var(--secondary-color);
}
#adventure-gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;   
}
#adventure-gallery img{
    width: 150px;
    height: 100px;
    border: 1px solid black;
}
#history{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    
}
#history img{
    width: 150px;    
}
figure{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
footer .socialmedia{
    display: flex;
    gap:16px;
    justify-content: flex-end;
}
footer a:hover{
    background-color: var(--secondary-color);
}
section{
    border: 1px solid var(--accent1-color);
    color: var(--secondary-color);
    margin: 2px;
    width: 100%;
    height:auto;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}
form{
    display: grid;
    /* width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1); */
    border-radius: 0.5rem;
}
input[type="text"],
input[type="email"] {
  height: 30px;
}

#teams, #view-trips{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}
#teams img{
    width: 200px;
    height: 150px;
    border: 1px solid black;
}
#view-trips img{
    width: 250px;
    height: 150px;
}
legend, button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;
}
iframe{
    width: 800px; 
    height: 450px; 
    border: 1px solid black;
}
.view{
    position: relative;
    bottom: 60px;
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: .25rem;
}
.view:hover{
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}
.view button{
    padding: 0;
    font-family: var(--body-font);
    border: 2px solid var(--secondary-color);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100vh;
}

.grid-container img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    align-items: center;
}

.description {
    grid-column: 2;
    grid-row: 1 / span 2;
    padding: 10px;
}
.description button a{
    text-align: center;
    text-decoration: none;
}
.description button{
    margin-left: 140px;
}
.description button a:hover{
    color: var(--accent2-color);
}
.highlight h2{
    font-family: var(--body-font);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);}

