:root{
    --primary-color: #00b4d8;
    --secondary-color: darkslategrey;
    --accent1-color: #e9eeef;
    --accent2-color: #f7fb09;
    --heading-font: 'Metal Mania', sans-serif;
    --body-font: 'Winky Rough', sans-serif;
}
header{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;  
}
header img{
    justify-self: center;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navigation a{
    text-decoration: none;
    display: block;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--accent2-color);
    font-family: var(--body-font);
    

}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section{
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia a img{
    justify-content: space-evenly;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    
}
h1{
    top: 20px;
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);

}
.hero article img{
    float: right;
    width: 150px;
    border: 2px solid var(--secondary-color);
}
.mission{
    bottom: 20px;
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: left;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
footer img{
    width: 20px;
    float: right;
}
.text-centered{
    text-align: center;
    color: var(--secondary-color);
}
#adventure-gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;   
}
#adventure-gallery img{
    width: 150px;
    height: 100px;
    border: 1px solid black;
}
#history{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    
}
#history img{
    width: 150px;    
}
figure{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}
footer .socialmedia{
    display: flex;
    gap:16px;
    justify-content: flex-end;
}
footer a:hover{
    background-color: var(--secondary-color);
}
section{
    border: 1px solid var(--accent1-color);
    color: var(--secondary-color);
    margin: 2px;
    width: 100%;
    height:auto;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}
form{
    display: grid;
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
}
#teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}
#teams img{
    width: 200px;
    height: 150px;
    border: 1px solid black;
}
legend, button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;
}