*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
}

h1{
    color: darkblue;
    border-bottom: 2px solid black;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black ;
    padding: 4px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 5px;
    margin: 5px;
}

main{
    max-width: 840px;
    grid-column: 2/3;
}

aside{
    width:20em;
    margin:3px;
    border: 2px solid cornsilk;
    padding: 1px;
    background-color: brown;
    color: white;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 2px dashed blue;
    text-align: center;
}
/*Class Selectors*/
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #000;
}
aside h2{
    position: absolute;
    top: 10px;
    left: 70px;
    color: greenyellow;
}
footer, header, .grid{
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display:grid;
    align-items: center;    
}